body {
	background-color: #85D0FF;

}

h1, h2 {
	color: gray;
	text-align: center;
	font-family: Helvetica;
}

p {
	color: gray;
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
	font-style: italic;
}
