@import url(https://fonts.googleapis.com/css?family=Heebo);
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* { 
padding: 0;
margin: 0;
box-sizing: border-box; }

body {
	background-color: #fff;
	font-family: Heebo, sans-serif; 
	font-size: 16px;
	position: relative;
	text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}


.wrapper {
	width: 1080px;
	margin: 0 auto;
}

header {
	/*position: fixed;*/
   /* z-index: 100;*/
  /*background-color: purple;*/

}

.logo {
	width: 40%;
    display: block;
    margin: 2em auto;
    clear: both;


}

nav {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em; 
	margin: 1em auto;
	font-size: 0.9em;
}

nav a {
	margin-right: 1.1em;
	margin-left: 1.1em;
	margin-bottom: 1.1em;
	}

.nav_one a {
	float: left;
 }

.nav_one { 
	 padding: 1em;
  }

a {
	color: inherit;
	text-decoration: none;
}

a:hover { 
	color: #ffffff; 
}

img {
	width: 100%;
}

.item_group { 
	width: 30em; 
	margin: 1em;
	float: left;	
}

.wrapper_one { 
	width: 95%;
	margin: auto; 
}


.shop_button { 
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: #615f8b;
  color: #fff;
   }

 .shop_button:hover { 
 	color: #615f8b; 
 	background: #ffffff ;
  }

.bestsellers {
 	width: 15%;
 	float: left;
 	padding: 0.5em;
 	margin: 0;
 }

.new {
	position: relative;
	width: 100%;
	clear: both;
}

.new_in {
	position: absolute;
	top: 200px;
	left: 500px;
	font-size: 20pt;
}

 .blogpost {
	position: relative;
	width: 100%;
	clear: both;
}

.blogheading {
	position: absolute;
	top: 200px;
	left: 500px;
	font-size: 20pt;
}

p {
	font-family: 'Lora', serif;
	font-size: 1em;
	width: 30em;
	margin: 0 auto;
}

.gift_packs { 
	width: 29%;
    padding: 0.9em;
    margin: 1em;
    float: left;
 }


.edit_trend {
	width: 30em;
	float: left;
	margin: 1em;

} 


.container { 
 	clear: both;
  }


footer {
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
	font-size: 10px;
	clear: both;
}



/*h1 {
	width: 500px;
	margin-left: 380px;
	text-align: center;
}*/



/*#slogan { 
	font-family: 'Lora', serif; 
	text-align: center;
	margin: 2em auto;
	letter-spacing: 0.5px;
	font-size: 1.2em;
}*/

/*.announcement {
	text-align: center;
}*/














