@import url(https://fonts.googleapis.com/css?family=Heebo);
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

* { 
padding: 0;
margin: 0;
box-sizing: border-box; }

body {
	background-color: #F3F3F4;
	font-family: Heebo, sans-serif; 
	font-size: 16px;
	position: relative;
	text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}


#wrapper {
	width: 95%;
	margin: 0 auto;
}

header {
	/*position: fixed;*/
    /*z-index: 100;*/
    /*background-color: #F3F3F4;*/
}

.logo {
	width: 40%;
    display: block;
    margin: 2em auto;
    clear: both;
}

nav {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em; 
	margin: 1em auto;
	font-size: 0.9em;
}

nav a {
	margin-right: 1.1em;
	margin-left: 1.1em;
	margin-bottom: 1.1em;
	}

.nav_icons a {
	float: left;
 }

.nav_icons { 
	 padding: 1em;
  }

a {
	color: inherit;
	text-decoration: none;
}

.shopnow:hover {
	border-bottom: 2px solid #000;
	padding-bottom: 0.4em; 

 }

 nav a:hover {
 border-bottom: 2px solid #000;
	padding-bottom: 0.4em;  
	}


img {
	width: 100%;
}

.wrapper_one { 
	width: 95%;
	margin: 1.5% auto; 
/*	background-color: purple;*/
}

.wrapper_two { 
	margin: 1.5% auto;
    width: 95%;
}

.item_group { 
	width: 46.8%; 
	margin: 1.5%;
	float: left;
/*	background-color: orange;*/	
}

.bestsellers {
 	width: 15%;
 	float: left;
 	padding: 0.5em;
 	margin: 0.5em;
 }

.blogpost {
	position: relative;
	width: 100%;
	clear: both;
}

p {
	font-family: 'Lora', serif;
	font-size: 1em;
	width: 78%;
	margin: 1em auto;
}

h3 { 
margin: 1em auto; }

.container { 
 	clear: both;
  }


footer {
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
	font-size: 10px;
	clear: both;
}

@media only screen and (max-width:1000px ) {
.item_group { 
float: none;
}

}

@media only screen and (max-width:1062px ) { 
.bestsellers {
 width: 24%;
 } 

}

/*h1 {
	width: 500px;
	margin-left: 380px;
	text-align: center;
}*/



/*#slogan { 
	font-family: 'Lora', serif; 
	text-align: center;
	margin: 2em auto;
	letter-spacing: 0.5px;
	font-size: 1.2em;
}*/

/*.announcement {
	text-align: center;
}*/

/*.new {
	position: relative;
	width: 100%;
	clear: both;
}

.new_in {
	position: absolute;
	top: 200px;
	left: 500px;
	font-size: 20pt;
}*/

/*.gift_packs { 
	width: 29%;
    padding: 0.9em;
    margin: 1em;
    float: left;
 }


.edit_trend {
	width: 30em;
	float: left;
	margin: 1em;

} */

/*.blogheading {
	position: absolute;
	top: 200px;
	left: 500px;
	font-size: 20pt;
}
*/











