body {
	background-color: #cccccc;
	font-family: Helvetica, sans-serif; 
}

nav, a {
	color: inherit;
	text-decoration: none;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

a:hover { 
color: #ffffff; }

h1, nav {
	text-align: center;
}

h1 {
	width: 500px;
	margin-left: 380px;
}

#slogan { 
	font-family: Helvetica, sans-serif; 
	text-align: center;
	font-style: italic;
	margin-bottom: 50px;
}

img {
	width: 100%;
}

.announcement {
	text-align: center;
	background-color: #ffffff
}

.theogroup {
	width: 50%; 
}

.oldspike { 
	width: 50%;

 }

.logo {
	width: 50%;