@import url(https://fonts.googleapis.com/css?family=Heebo);
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

body {
	background-color: #cccccc;
	font-family: Heebo, sans-serif; 
	font-size: 16px;
	position: relative;
	text-align: center;
}


.wrapper {
	width: 1080px;
	margin: 0 auto;
}

<<<<<<< HEAD
header { 
background-color:  #FFED74
 }

=======
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
.nav {
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	}

a {
	color: inherit;
	text-decoration: none;
}

a:hover { 
	color: #ffffff; 
}

nav {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px; 
	margin: 2em auto;
	background-color: #E8C66A;

}

h1 {
	width: 500px;
	margin-left: 380px;
	text-align: center;
}

p {
	font-family: 'Lora', serif;
	font-size: 1em;
	width: 30em;
	margin: 0 auto;
}

#slogan { 
	font-family: 'Lora', serif; 
	text-align: center;
	margin: 2em auto;
	letter-spacing: 0.5px;
	font-size: 1.2em;
}

<<<<<<< HEAD
=======
.new {
	position: relative;
	width: 100%;
	clear: both;
}

.new_in {
	position: absolute;
	top: 200px;
	left: 500px;
	width: 100%;
	font-size: 20pt;
}

>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
img {
	width: 100%;
}

.announcement {
	text-align: center;
}

.group_one { 
	width: 30em; 
<<<<<<< HEAD
	/*background-color: blue;*/
=======
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
	margin: 2em auto;
	float: left;
	
}

.group_two {
	width: 30em;
<<<<<<< HEAD
	/*background-color: purple;*/
=======
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
	margin: 2em auto;
	float: right;
}

.bestsellers {
 	width: 20%;
 }

.logo {
	width: 50%;
    display: block;
    margin: 1em auto;
    clear: both;
}

.blogpost {
	position: relative;
	width: 100%;
	background-color: #E89C6C;
}

.blogheading {
	position: absolute;
	top: 200px;
	left: 500px;
<<<<<<< HEAD
	/*width: 100%;*/
=======
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
	font-size: 20pt;
}

.new {
	position: relative;
	width: 100%;
<<<<<<< HEAD
	/*background-color: green;*/
=======
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
	clear: both;
}

.new_in {
	position: absolute;
	top: 200px;
	left: 500px;
	/*width: 100%;*/
	font-size: 20pt;
	/*background-color: yellow;*/
}

.gift_one { 
<<<<<<< HEAD
	width: 29%;
    float: left;
    padding: 10px;
    margin: 10px;
 }

.gift_two { 
width: 29%;
float: left;
padding: 10px;
    margin: 10px;
 }

 .gift_three { 
 	width: 29%;
	float: left;
	padding: 10px;
    margin: 10px;
=======
	width: 20em;
    float: left;
 }

.gift_two { 
width: 20em;
float: right;
 }

 .gift_three { 
 	width: 20em;
	float: left;
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5
  }

.edit_one {
width: 30em;
float: left;
} 

.edit_two { 
width: 30em;
float: right;
 }

 .container { 
 clear: both;
  }

ul {
	list-style: none;
	text-align: left;
}

section { 
background-color: #FFE2B8; }

.container { 
background-color: #E8583B }
<<<<<<< HEAD
=======

header { 
background-color:  #FFED74
 }
>>>>>>> 5103ea3df5740d3ea94c7622116576f53e020fb5

footer {
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
	font-size: 10px;
	clear: both;
	background-color: #FF957E
}


